<a href="https://colab.research.google.com/github/JINYUHOON/DL_guide/blob/main/dl_advanced_usage_of_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 순환 드롭아웃 : 순환 층에서 과대적합을 방지하기 위해 케라스에 내장되어 있는 드롭아웃을 사용합니다
- 순환 층 스태킹 : 네트워크의 표현 능력을 증가시킵니다(대신 계산 비용이 많이 듭니다)
- 양방향 순환 층 : 순환 네트워크에 같은 정보를 다른 방향으로 주입하여 정확도를 높이고 기억을 좀 더 오래 유지시킵니다.

막스 플랑크 생물지구화학 연구소 ( http://www.bgc-jena.mpg.de/wetter/ ) 의 지상관측소에서 수집한 것

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!mkdir jena_climate

In [ ]:
!ls

In [ ]:
!cd jena_climate

In [ ]:
!wget https://s3.amazonaws.com/keras-datasets/jena_climate_2009_2016.csv.zip

In [ ]:
!unzip jena_climate_2009_2016.csv.zip

In [ ]:
!ls

In [ ]:
!mkdir /content/drive/MyDrive/cakd3\ colab/DL/datasets/jena_climate/

In [ ]:
%cd jena_climate

In [ ]:
!cp ./jena_climate/jena_climate_2009_2016.csv /content/drive/MyDrive/cakd3\ colab/DL/datasets/jena_climate/

In [ ]:
import os

data_dir = '/content/drive/MyDrive/cakd3 colab/DL/datasets/jena_climate/'
fname = os.path.join(data_dir,'jena_climate_2009_2016.csv')

f = open(fname)
data = f.read()
f.close()

lines = data.split('\n')
header = lines[0].split(',')
lines = lines[1:]   # exclude header

print(header)
print(len(lines))